// Font families
$base-font-family: 'Lato', sans-serif;
$fontfamily-one: 'Dancing Script', cursive;

// Base font size and lineheight
$base-font-size: 18px;
$base-line-height: 1.4;

// font weights
$fontweight-thin: 300;
$fontweight-regular: 400;
$fontweight-bold: 700;

// font size
$h1-fontsize: 50px;
$h2-fontsize: 40px;
$h3-fontsize: 38px;
$h4-fontsize: 36px;
$h5-fontsize: 18px;
$h6-fontsize: 16px;
$p-fontsize: 18px;
$mobile-h1-fontsize: 30px;

// Color palette 
$primary-color: #3765a0;
$primary-utility-one: #da423e;
$primary-utility-two: #f4b72a;
$secondry-color: #333333;
$tertiary-color: #585858;
$black: #000;
$white: #fff;
$red: #b22213;
$orange: #f47836;
$grey: #ededee;
$darkgrey: #596f7c;
$gray-one: #fcfcfc;
$gray-two: #cdcdcd;
$fb-color: #3C5A99;
$twitter-color: #38A1F3;
