$base-font-family: 'Lato', sans-serif;
$base-font-size: 18px;
$base-line-height: 1.4;
$fontweight-thin: 300;
$fontweight-regular: 400;
$fontweight-bold: 700;
$fontsize-h1: 50px;
$fontsize-h2: 40px;
$fontsize-h3: 38px;
$fontsize-h4: 36px;
$fontsize-h5: 18px;
$fontsize-h6: 16px;
$fontsize-p: 18px;
$primary-color: #3765a0;
$primary-utility-one: #da423e;
$secondry-color: #333333;
$tertiary-color: #585858;
$black: #000;
$white: #fff;
