.event-holder {
	display: flex;
	@media (min-width: 0) and (max-width: 767.98px) {
		display: block;
	}
	.each-event {
		flex: 0 0 calc(100%/3 - 20px);
		margin: 10px;
		padding: 10px 10px 20px 10px;
		border: 1px solid $gray-two;
		@media (max-width: 575.98px) {
			width: 100%;
			margin: 0 0 30px 0;
		}
		@media (min-width: 576px) and (max-width: 767.98px) {
			width: calc(99%/2 - 20px);
			margin: 10px 10px 16px 10px;
			display: inline-block;
			vertical-align: top;
		}
		img {
			width: 100%;
			height: auto;
			margin-bottom: 16px;
		}
		.description {
			position: relative;
			height: 160px;
			@media (min-width: 768px) and (max-width: 991.98px) {
				height: 200px;
			}
		}
		p.date {
			color: $gray-two;
			font-size: $h5-fontsize - 2;
	    font-family: $base-font-family;
	    font-weight: $fontweight-bold;
	    margin-bottom: 10px;
		}
		h2 {
			color: $secondry-color;
			font-size: $h5-fontsize + 4;
	    font-family: $base-font-family;
	    font-weight: $fontweight-bold;
	    margin-bottom: 20px;
		}
		a {
			color: $secondry-color; 
			font-size: $h6-fontsize;
			font-family: $base-font-family;
			font-weight: $fontweight-regular;
			padding: 6px 30px;
      border: 1px solid $gray-two;
      border-radius: 50px;
      display: inline-block;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.3s;
      position: absolute;
      bottom: 0;
      &:hover {
      	color: $white;
      	background: $primary-color;
      	transition: all 0.3s;
      }
		}
	}
}