body {
	padding-left: 80px;
}
#Header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  a.logo {
    display: inline-block;
    width: 120px;
    img {
      width: 100%;
      height: auto;
    }
  }
} 
.stickymenu-wrapper {
	.fixed-menu {
    width: 80px;
    background-color: $primary-color;
    position: fixed;
    left: 0;
    padding: 0;
    z-index: 99999;
    .mainmenu {
	    text-align: center;
		  position: relative;
		  z-index: 99999;
		  height: 100vh;
		  background-color: $primary-utility-one;
		  margin: 0;
		  padding: 0;
		  li {
  	    list-style: none;
		    padding: 0;
		    position: relative;
		    a {
		    	font-size: $h5-fontsize;
          font-family: $base-font-family;
          font-weight: $fontweight-regular;
          color: $white;
          &:hover {
          	text-decoration: none;
          }
		    }
		    &:first-child {
		    	background-color: $red;
		    }
		    &:nth-child(2) {
		    	background-color: $primary-utility-one;
		    }
		    &:nth-child(3) {
		    	background-color: $red;
		    }
		    &:nth-child(4) {
		    	background-color: $primary-utility-one;
		    }
		    &:nth-child(5) {
		    	background-color: $red;
		    }
		    &:nth-child(6) {
		    	background-color: $primary-utility-one;
		    }
		    &.more {
					position: absolute;
					right: 0;
					left: 0;
					bottom: 0;
		    }
		  }
		  &.hide-one {
				a {
					padding: 16px 5px;
					display: inline-block;
				}
		  }
    }
	}
	#menuoverlay {
    background: rgba(0,0,0,0.4);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    display: none;
	}
	.submenu-wrapper {
		background-color: #2c2c2c;
    left: -350px;
    min-height: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 430px;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    .submenu-content {
	    padding: 30px 50px;
      h2 {
        border-bottom: 1px solid $tertiary-color;
        color: $primary-utility-one;
        font-size: $h4-fontsize - 10;
        font-family: $base-font-family;
        font-weight: $fontweight-bold;
        margin: 0;
        padding: 0 0 14px;
      }
      ul {
        margin: 0;
        padding: 26px 0 0;
        li {
          display: inline-block;
          width: 100%;
          color: #fff;
          font-size: $h6-fontsize;
          font-family: $base-font-family;
          font-weight: $fontweight-bold;
          list-style: none;
          min-height: 0;
          margin: 0 0 16px;
          padding: 0;
          a {
            color: $white;
            transition: all 0.3s;
            &.active, &:hover {
              color: $primary-utility-one;
              text-decoration: none;
              transition: all 0.3s;
            }
          }
        }
      }
    }
    .sm-close {
      color: $primary-utility-one !important;
      width: 36px;
      position: absolute;
      right: 26px;
      top: 12px;
      font-size: $h3-fontsize - 10;
      cursor: pointer;
    }
    #more {
      ul {
        padding: 12px 0 4px;
        li {
          color: $white;
          width: 16%;
          display: inline-block;
          padding: 0 30px;
          vertical-align: top;
          margin-bottom: 20px;
          &:first-child {
            padding-left: 0;
          }
          a {
            color: $primary-utility-one;
            font-size: $mobile-h1-fontsize - 6;
            font-family: $base-font-family;
            font-weight: $fontweight-regular;
            display: inline-block;
            margin: 0;
            padding: 0 0 14px;
          }
          ul {
            li {
              margin-bottom: 0;
              width: 100%;
              padding: 0;
              a {
                display: inline-block;
                width: 100%;
                color: $white;
                font-size: $h5-fontsize;
                font-family: $base-font-family;
                font-weight: $fontweight-regular;
                list-style: none;
                min-height: 0;
                margin: 0 0 16px;
                padding: 0;
                transition: all 0.3s;
                &.active, &:hover {
                  color: $primary-utility-one;
                  text-decoration: none;
                  transition: all 0.3s;
                }
              }
            }
          }
        }
      }
    }
	}
}
@keyframes menuslideopen{0%{left:-350px;opacity:1}100%{left:80px;opacity:1}}@-webkit-keyframes menuslideopen{0%{left:-350px;opacity:1}100%{left:80px;opacity:1}}@-moz-keyframes menuslideopen{0%{left:-350px;opacity:1}100%{left:80px;opacity:1}}@-o-keyframes menuslideopen{0%{left:-350px;opacity:1}100%{left:80px;opacity:1}}@keyframes menuslideclose{0%{left:80px;opacity:1}90%{left:-350px;opacity:1}100%{opacity:0}}@-webkit-keyframes menuslideclose{0%{left:80px;opacity:1}90%{left:-350px;opacity:1}100%{opacity:0}}@-moz-keyframes menuslideclose{0%{left:80px;opacity:1}90%{left:-350px;opacity:1}100%{opacity:0}}@-o-keyframes menuslideclose{0%{left:80px;opacity:1}90%{left:-350px;opacity:1}100%{opacity:0}}@keyframes menufadeopen{0%{left:0;width:100%;opacity:0}100%{left:0;width:100%;opacity:1}}@-webkit-keyframes menufadeopen{0%{left:0;width:100%;opacity:0}100%{left:0;width:100%;opacity:1}}@-moz-keyframes menufadeopen{0%{left:0;width:100%;opacity:0}100%{left:0;width:100%;opacity:1}}@-o-keyframes menufadeopen{0%{left:0;width:100%;opacity:0}100%{left:0;width:100%;opacity:1}}@keyframes menufadeclose{0%{left:0;width:100%;opacity:1}90%{left:0;width:100%;opacity:0}100%{left:-350px;width:430px;opacity:0}}@-webkit-keyframes menufadeclose{0%{left:0;width:100%;opacity:1}90%{left:0;width:100%;opacity:0}100%{left:-350px;width:430px;opacity:0}}@-moz-keyframes menufadeclose{0%{left:0;width:100%;opacity:1}90%{left:0;width:100%;opacity:0}100%{left:-350px;width:430px;opacity:0}}@-o-keyframes menufadeclose{0%{left:0;width:100%;opacity:1}90%{left:0;width:100%;opacity:0}100%{left:-350px;width:430px;opacity:0}}
body.menuOpened.menuSlide .submenu-wrapper{animation:menuslideopen .5s ease forwards}body.menuSlide.menuClose .submenu-wrapper{animation:menuslideclose .5s ease forwards}body.menuOpened.menuFade .submenu-wrapper{animation:menufadeopen .5s ease forwards}body.menuFade.menuClose .submenu-wrapper{animation:menufadeclose .5s ease forwards}
.submenu {
	display:none;
}
.menuFade .submenu-wrapper .submenu-content {
  padding-left: 130px;
}
#menuoverlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display:none;
}
body.menuOpened.menuSlide #menuoverlay {
	display: block;
}
.mainmenu li a.close {
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 9;
	background: #222;
	color: #FFF;
}
.mainmenu li.active a.close {
	display:block;
}
/* Main Menu style end */
body.menuOpened {
  overflow: hidden;
}
.fixed-menu {
  width: 80px;
  background-color: #b0410f;
  position: fixed;
  left: 0;
  padding: 0;
  z-index: 99999;
}
.mainmenu {
	text-align: center;
	position: relative;
  z-index: 99;
  height: 100vh;
  background-color: #b0410f;
  margin: 0;
  padding: 0;
}
.mainmenu a {
  display: block;
  padding: 24px 0;
}
.mainmenu li {
  list-style: none;
  padding: 0;
  position:relative;
}
.mainmenu li h3 {
  color: #fff;
  font: 400 12px/100% "Source Sans Pro",sans-serif;
  margin: 0;
  padding: 0;
}
.mainmenu li.more {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.mainmenu li i {
  color: #fff;
  font-size: 24px;
  margin-bottom: 8px;
}
.fixed-menu .mainmenu li.more.default-active {
	background: none;
}
.mainmenu.hide-one a {
  padding: 16px 0;
}
.mainmenu.hide-two a {
  padding: 12px 0;
}
.mainmenu.hide-three a {
	padding: 7px 0;
}