.module-list {
	.title {
		padding: 40px 0;
		@media (min-width: 0) and (max-width: 767.98px) {
			text-align: center;
		}
		h1 {
			color: $primary-color;
			font: {
				size: $mobile-h1-fontsize;
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
			margin-bottom: 0;
			span {
				width: 50px;
				display: inline-block;
				vertical-align: bottom;
				margin-right: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.module-wrapper {
		display: flex;
		flex-wrap: wrap;
		.each-module-prview {
			max-width: calc(100%/4 - 20px);
	    margin-left: 10px;
	    margin-right: 10px;
	    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
	    margin-bottom: 30px;
	    transition: 0.3s all;
	    border-bottom: 4px solid #fff;
	    @media (max-width: 575.98px) {
				max-width: calc(280px);
				margin: 0 auto 20px;
	    }
	    @media (min-width: 576px) and (max-width: 767.98px) {
	    	max-width: calc(100%/2 - 20px);
	    }
	    @media (min-width: 768px) and (max-width: 991.98px) {
				max-width: calc(100%/3 - 20px);
	    }
	    .icon-holder {
				border: 1px solid #c9c9c9;
				text-align: center;
				i {
					font-size: 187px;
					color: $primary-color;
					@media (max-width: 575.98px) {
						font-size: 200px;
					}
					@media (min-width: 576px) and (max-width: 767.98px) {
						font-size: 170px;
					}
					@media (min-width: 768px) and (max-width: 991.98px) {
						font-size: 152px;
					}
					@media (min-width: 992px) and (max-width:1200px) {
						font-size: 154px;
					}
				}
			}
			.tags {
				padding: 16px 10px 10px 10px;
				border-bottom: 1px solid #c9c9c9;
				min-height: 195px;
				@media (max-width: 575.98px) {
					min-height: 10px;
				}
				@media (min-width: 576px) and (max-width: 767.98px) {
					min-height: 231px;
				}
				@media (min-width: 992px) and (max-width:1200px) {
					min-height: 265px;
				}
				@media (min-width: 768px) and (max-width: 991.98px) {
					min-height: 268px;
				}
				span {
					background-color: #939aa1;
					color: $white;
					font: {
						size: $h6-fontsize - 4;
						weight: $fontweight-bold;
						family: $base-font-family; 
					}
					padding: 3px 10px 5px 10px;
					border-radius: 15px;
					margin-bottom: 10px;
					display: inline-block;
					&:nth-child(1) {
						display: table;
						background-color: $primary-utility-one;
					}
					&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
						background-color: #4b5158;
					}
					&:nth-child(6), &:nth-child(7), &:nth-child(8) {
						background-color: #64696f;
					}
					&:nth-child(9), &:nth-child(10), &:nth-child(11) {
						background-color: #788088; 
					}
				}
			}
			.page-preview {
				padding: 10px;
				h3 {
					color: $secondry-color;
					font: {
						size: $h5-fontsize - 4;
						weight: $fontweight-bold;
						family: $base-font-family; 
					}
					margin-bottom: 0;
					display: inline-block;
					vertical-align: middle;
					@media (min-width: 576px) and (max-width: 767.98px) {
						display: block;
					}
					@media (min-width: 768px) and (max-width:1200px) {
						display: block;
						font-size: $h5-fontsize - 2;
					}
				}
				.preview-btn {
					display: inline-block;
					vertical-align: middle;
					text-align: right;
					float: right;
					i {
						color: $black;
						transform: scale(1);
						transition: all 0.3s
					}
					@media (min-width: 576px) and (max-width:1200px) {
						display: block;
					}
				}
			}
			&:hover {
				border-bottom: 4px solid $primary-utility-two;
				transform: scale(1.1);
				text-decoration: none;
				.page-preview {
					.preview-btn {
						i {
						transform: scale(1.2);
							transition: all 0.3s
						}
					}
				}
			}
		}
	}
}
// filter style
.search {
	margin: 0 10px 40px 10px;
	.custom-dropdown {
		border: 1px solid $primary-color;
		padding: 10px 23px 8px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 300px;
		vertical-align: middle;
		background: #fff url("../images/arrow-drop-down.svg") no-repeat 94% center / 20px auto;
		height: 46px;
		@media (min-width: 0) and (max-width: 767.98px) {
			display: block;
			width: 265px;
			margin: 0 auto;
		}
		.custom-dd-selected {
			color: $secondry-color;
			font: {
				size: $h5-fontsize;
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
		}
		.custom-dd-list {
			width: 100%;
			background: $white;
			display: none;
			border: 1px solid $primary-color;
			left: 0;
			position: absolute;
			top: 46px;
			z-index: 999;
			ul {
				margin: 0;
				padding: 0;
				max-height: 287px;
				overflow-y: scroll;
				li {
					border-bottom: 1px solid $primary-color;
					margin: 0;
					list-style-type: none;
					color: $secondry-color;
					font: {
						size: $h5-fontsize;
						weight: $fontweight-regular;
						family: $base-font-family; 
					}
					padding: 10px 20px;
					display: block;
					&:hover {
						background-color: $primary-color;
						color: $white;
					}
				}
			}
		}
	}
	.autocomplete_wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;
		position: relative;
		width: calc(100% - 338px);
		@media (min-width: 0) and (max-width: 767.98px) {
			display: none;
		}
		#text_search input {
			border: 1px solid $primary-color;
			padding: 10px 23px 8px;
			cursor: pointer;
			width: 100%;
			font: {
				size: $h5-fontsize;
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
			height: 46px;
		}
		.autocomplete {
			width: 100%;
			background: $white;
			display: none;
			border: 1px solid $primary-color;
			left: 0;
			position: absolute;
			top: 46px;
			z-index: 999;
			ul {
				margin: 0;
				padding: 0;
				max-height: 287px;
				overflow-y: scroll;
				li {
					border-bottom: 1px solid $primary-color;
					margin: 0;
					list-style-type: none;
					color: $secondry-color;
					font: {
						size: $h5-fontsize;
						weight: $fontweight-regular;
						family: $base-font-family; 
					}
					padding: 10px 20px;
					display: block;
					cursor: pointer;
					&:hover {
						background-color: $primary-color;
						color: $white;
					}
					&.focused {
						font-weight: bold;
					}
				}
			}
		}
	}
	.tags_wrapper {
		margin-bottom: 10px;
		@media (min-width: 0) and (max-width: 767.98px) {
			margin-bottom: 0;
		}
		.badge {
			font: { 
				size: $h6-fontsize;
				weight: $fontweight-regular;
				family: $base-font-family; 
			}
			padding: 5px 10px 7px 10px;
			line-height: 1;
			margin-right: 10px;
		}
	}
}
.fa-light {
	background: $black;
	color: $white;
}
.badge {
	cursor: pointer;
}
.hidden,.cdd-active {
	display: none !important;
}
.focused {
	font-weight: bold;
}
/*Search*/
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secondry-color;
  opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: $secondry-color;
  opacity: 1;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: $secondry-color;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $secondry-color;
  opacity: 1;
}
#noresult {
	text-align: center;
	font: { 
		size: $h6-fontsize + 20;
		weight: $fontweight-regular;
		family: $base-font-family; 
	}
	display: none;
}
.module-holder {
	margin-bottom: 60px;
}









