.module-list {
	.title {
		padding: 40px 10px 20px;
		@media (min-width: 0) and (max-width: 767.98px) {
			text-align: center;
		}
		h1 {
			color: $primary-color;
			font: {
				size: $mobile-h1-fontsize;
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
			margin-bottom: 0;
			span {
				width: 50px;
				display: inline-block;
				vertical-align: bottom;
				margin-right: 20px;
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.module-wrapper {
		display: flex;
		flex-wrap: wrap;
    @media all and (-ms-high-contrast:none) {
    	display: block;
    }
		.each-module-prview {
			max-width: calc(100%/4 - 20px);
	    margin-left: 10px;
	    margin-right: 10px;
	    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
	    margin-bottom: 30px;
	    transition: 0.3s all;
	    border-bottom: 4px solid #fff;
	    @media all and (-ms-high-contrast:none) {
	    	max-width: 100%;
	    	width: 254px;
   			display: inline-block;
	    }
	    @media (max-width: 575.98px) {
				max-width: calc(280px);
				margin: 0 auto 20px;
	    }
	    @media (min-width: 576px) and (max-width: 767.98px) {
	    	max-width: calc(100%/2 - 20px);
	    }
	    @media (min-width: 768px) and (max-width: 991.98px) {
				max-width: calc(100%/3 - 20px);
	    }
	    .icon-holder {
				border: 1px solid #c9c9c9;
				text-align: center;
				@media all and (-ms-high-contrast:none) {
					 height: 177px;
				}
				i {
					font-size: 187px;
					color: $primary-color;
					@media all and (-ms-high-contrast:none) {
						 font-size: 185px;
					}
					@media (max-width: 575.98px) {
						font-size: 200px;
					}
					@media (min-width: 576px) and (max-width: 767.98px) {
						font-size: 170px;
					}
					@media (min-width: 768px) and (max-width: 991.98px) {
						font-size: 152px;
					}
					@media (min-width: 992px) and (max-width:1200px) {
						font-size: 154px;
					}
				}
			}
			.tags {
				padding: 16px 10px 10px 10px;
				border-bottom: 1px solid #c9c9c9;
				min-height: 195px;
				@media (max-width: 575.98px) {
					min-height: 10px;
				}
				@media (min-width: 576px) and (max-width: 767.98px) {
					min-height: 231px;
				}
				@media (min-width: 992px) and (max-width:1200px) {
					min-height: 265px;
				}
				@media (min-width: 768px) and (max-width: 991.98px) {
					min-height: 268px;
				}
				span {
					background-color: #939aa1;
					color: $white;
					font: {
						size: $h6-fontsize - 4;
						weight: $fontweight-bold;
						family: $base-font-family; 
					}
					padding: 3px 10px 5px 10px;
					border-radius: 15px;
					margin-bottom: 10px;
					display: inline-block;
					&:nth-child(1) {
						display: table;
						background-color: $primary-utility-one;
					}
					&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
						background-color: #4b5158;
					}
					&:nth-child(6), &:nth-child(7), &:nth-child(8) {
						background-color: #64696f;
					}
					&:nth-child(9), &:nth-child(10), &:nth-child(11) {
						background-color: #788088; 
					}
				}
			}
			.page-preview {
				padding: 10px;
				h3 {
					color: $secondry-color;
					font: {
						size: $h5-fontsize - 4;
						weight: $fontweight-bold;
						family: $base-font-family; 
					}
					margin-bottom: 0;
					display: inline-block;
					vertical-align: middle;
					@media (min-width: 576px) and (max-width: 767.98px) {
						display: block;
					}
					@media (min-width: 768px) and (max-width:1200px) {
						display: block;
						font-size: $h5-fontsize - 2;
					}
				}
				.preview-btn {
					display: inline-block;
					vertical-align: middle;
					text-align: right;
					float: right;
					i {
						color: $black;
						transform: scale(1);
						transition: all 0.3s
					}
					@media (min-width: 576px) and (max-width:1200px) {
						display: block;
					}
				}
			}
			&:hover {
				border-bottom: 4px solid $primary-utility-two;
				transform: scale(1.1);
				text-decoration: none;
				.page-preview {
					.preview-btn {
						i {
						transform: scale(1.2);
							transition: all 0.3s
						}
					}
				}
			}
		}
	}
}
// filter style
.search {
	margin: 0 10px 40px 10px;
	.custom-dropdown {
		border: 1px solid $primary-color;
		padding: 10px 23px 8px;
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 300px;
		vertical-align: middle;
		background: #fff url("../images/arrow-drop-down.svg") no-repeat 94% center / 20px auto;
		height: 46px;
    @media all and (-ms-high-contrast:none) {
    	background-size: 50px auto;
    	height: 50px;
    }
		@media (min-width: 0) and (max-width: 767.98px) {
			display: block;
			width: 265px;
			margin: 0 auto;
		}
		.custom-dd-selected {
			color: $secondry-color;
			font: {
				size: $h5-fontsize;
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
		}
		.custom-dd-list {
			width: 100%;
			background: $white;
			display: none;
			border: 1px solid $primary-color;
			left: 0;
			position: absolute;
			top: 46px;
			z-index: 99999;
			ul {
				margin: 0;
				padding: 0;
				max-height: 287px;
				overflow-y: scroll;
				li {
					border-bottom: 1px solid $primary-color;
					margin: 0;
					list-style-type: none;
					color: $secondry-color;
					font: {
						size: $h5-fontsize;
						weight: $fontweight-regular;
						family: $base-font-family; 
					}
					padding: 10px 20px;
					display: block;
					&:hover {
						background-color: $primary-color;
						color: $white;
					}
				}
			}
		}
	}
	.autocomplete_wrapper {
		display: inline-block;
		vertical-align: middle;
		margin-left: 30px;
		position: relative;
		width: calc(100% - 338px);
		@media (min-width: 0) and (max-width: 767.98px) {
			display: none;
		}
		#text_search input {
			border: 1px solid $primary-color;
			padding: 10px 23px 8px;
			cursor: pointer;
			width: 100%;
			font: {
				size: $h5-fontsize; 
				weight: $fontweight-bold;
				family: $base-font-family; 
			}
			height: 46px;
			border-radius: 0;
			box-shadow: none;
		}
		.autocomplete {
			width: 100%;
			background: $white;
			display: none;
			border: 1px solid $primary-color;
			left: 0;
			position: absolute;
			top: 46px;
			z-index: 999;
			ul {
				margin: 0;
				padding: 0;
				max-height: 287px;
				overflow-y: scroll;
				&.hideme {
					max-height: 0;
				}
				li {
					border-bottom: 1px solid $primary-color;
					margin: 0;
					list-style-type: none;
					color: $secondry-color;
					font: {
						size: $h5-fontsize;
						weight: $fontweight-regular;
						family: $base-font-family; 
					}
					padding: 10px 20px;
					display: block;
					cursor: pointer;
					&:hover {
						background-color: $primary-color;
						color: $white;
					}
					&.focused {
						font-weight: bold;
					}
				}
			}
			.no_match {
				font: {
					size: $h5-fontsize;
					weight: $fontweight-regular;
					family: $base-font-family; 
				}
				color: $secondry-color;
				padding: 10px 20px;
				display: block;
			}
		}
	}
	.tags_wrapper {
		padding-right: 70px;
		span {
			margin-bottom: 10px;
		}
		@media (min-width: 0) and (max-width: 767.98px) {
			margin-bottom: 0;
		}
		.badge {
			font: { 
				size: $h6-fontsize;
				weight: $fontweight-regular;
				family: $base-font-family; 
			}
			padding: 5px 10px 7px 10px;
			line-height: 1;
			margin-right: 10px;
		}
	}
	.tags_wrapper_outer {
		.tags_wrapper {
			display: inline-block;
			vertical-align: top;
			width: 93%;
			@media (min-width: 768px) and (max-width: 991.98px) {
				width: 90%;
			}
			@media (min-width: 992px) and (max-width: 1199.98px) {
				width: 92%;
			}
		}
		.clearall {
			display: inline-block;
			vertical-align: top;
			cursor: pointer;
			border: 2px solid $primary-utility-one;
			padding: 0 10px;
			border-radius: 10rem;
			transition: all 0.3s;
			margin-bottom: 10px;
			&:hover {
				color: $white;
				background-color: $primary-utility-one;
			}
		}
	}
}
.fa-light {
	background: $black;
	color: $white;
}
.badge {
	cursor: pointer;
}
.hidden,.cdd-active {
	display: none !important;
}
.focused {
	font-weight: bold;
}
/*Search*/
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $secondry-color;
  opacity: 1;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: $secondry-color;
  opacity: 1;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: $secondry-color;
  opacity: 1;
}
input:-moz-placeholder { /* Firefox 18- */
  color: $secondry-color;
  opacity: 1;
}
#noresult {
	text-align: center;
	font: { 
		size: $h6-fontsize + 20;
		weight: $fontweight-regular;
		family: $base-font-family; 
	}
	display: none;
}
.module-holder {
	margin-bottom: 60px;
}

.switch {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  color: $secondry-color;
  font: {
		size: $p-fontsize + 2;
		weight: $fontweight-regular;
		family: $base-font-family; 
	}
	padding-top: 12px;
	@media (min-width: 0) and (max-width: 1199.98px) {
		display: none;
	}
  input { 
	  opacity: 0;
	  width: 0;
	  height: 0;
	}
	.slider {
	  position: relative;
	  cursor: pointer;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	  border-radius: 34px;
	  width: 60px;
	  height: 34px;
	  display: inline-block;
	  vertical-align: middle;
	  margin: 0 14px 0 10px;
	  &::before {
			position: absolute;
		  content: "";
		  height: 26px;
		  width: 26px;
		  left: 4px;
		  bottom: 4px;
		  background-color: white;
		  -webkit-transition: .4s;
		  transition: .4s;
		  border-radius: 50%;
	  }
	}
}


.switch input:checked + .slider {
  background-color: $primary-utility-one;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.builderpanel {
  position: absolute;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0px;
  right: -255px;
  background: #f0f6ff;
  box-shadow: 0 0 40px rgba(0,0,0,.2);
  transition:all 0.5s;
  @media (min-width: 0) and (max-width: 1199.98px) {
		display: none;
	}
  h5 {
  	margin: 0px 0px 6px 0px;
	  width: 100%;
	  text-align: center;
	  padding: 10px 0px;
	  color: $white;
	  background: $primary-color;
	  font: {
			size: $p-fontsize + 2;
			weight: $fontweight-bold;
			family: $base-font-family; 
		}
  }
}

.builder .builderpanel {
  right: 0px;
}
.bp_p_each {
  width: 100%;
  text-align: center;
  cursor:pointer;
  margin-bottom: 10px;
  position: relative;
  .remove {
	  display: none;
	  font-weight: bold;
	  color: $primary-utility-one;
	  border-radius: 15px;
	  border: 1px solid $primary-utility-one;
	  position: absolute;
	  top: 50%;
	  left: 86px;
	  padding: 0px 10px;
	  background: #FFF;
	  box-shadow: #000 0px 0px 10px 0px;
	}
}
.bp_p_each:hover .remove {
  display: block;
}
.bp_p_each i {
  font-size: 90px;
}
.bp_p_each h3 {
  font-size: 18px;
  margin: 0px 0px 5px 0px; 
}
.builder .each-module-prview {
  position: relative;
}
.builder .added-to-builder::after {
  position: absolute;
  content: "Added";
  padding: 79% 41%;
  left: 0px;
  top: 0px;
  background: #fff;
  z-index: 999;
  display: inline-block;
  cursor: not-allowed;
}

.builder .each-module-prview.added-to-builder:hover {
  border-bottom: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  text-decoration: none;
}

#builderpanel_wrapper {
  width: 100%;
  height: calc(100vh - 92px);
  overflow-y: auto;
}

#builderpanel_footer {
  background-color: $primary-color;
  padding: 12px 0px;
  text-align: center;
  position: absolute;
	width: 100%;
	bottom: 0;
}

#builderpanel_footer a {
  background: $primary-color;
  padding: 5px 10px;
  border-radius: 20px;
  color:#fff;
  text-decoration: none;
  font: {
		size: $h5-fontsize;
		weight: $fontweight-regular;
		family: $base-font-family; 
	}
}








