 .hidden {
 	display: flex;
 }
 .code {
 	width: 75%;
 	height: 500px;
 	margin: 0 auto;
 	background-color: #fff;
 	cursor: pointer;

 	@media(max-width: 999px) {

 		width: 100%;

 	}
 }
 #POP {
 	position: absolute;
 	display: none;
 	top: 0;
 	width: 100%;
 }
 .btn-container {
 	display: flex;
 	justify-content: space-between;
 	width: 300px;
 	margin: 20px auto;
 }
 .btn {
 	text-align: center;
 	color: #fff;
	$p-fontsize: 18px;
 	font-weight: 700;
 	border: 1px solid #215cdb;
 	display: inline-block;
 	border-radius: 5px;
 	padding: 15px 30px;
 	transition: all .3s;
 	text-decoration: none;
 	background-color: #215cdb;
 }
 .btn:hover {
 	background-color: #fff;
 	color: #215cdb;
 }
 .souce-code {
 	padding: 30px 0;
 	margin: 0;
 }
 .souce-code {
 	a {
 		cursor: pointer;
 		border: 1px solid #da423e;
 		color: #da423e;
 		background-color: #fff;
 		padding: 15px 20px;
 		border-radius: 10px;
 		font-family: Arial, Helvetica, sans-serif;
 	}
 	a:hover {
 		color: #fff;
 		background-color: #da423e;
 	}
 }
 textarea {
 	-ms-overflow-style: none;
 	scrollbar-width: none;
 	align-content: left;
	
 }
 textarea::-webkit-scrollbar {
	display: none;
}
