.testimonialslider {
	position: relative;
	background-color: $primary-color;
	padding: 50px  0 80px;
	text-align: center;
	.slider-content-wrap {
		p {
			color: $white;
			font-size: $h5-fontsize + 6;
			font-family: $base-font-family;
			font-weight: $fontweight-regular;
			line-height: 1.4;
			margin: 0 0 50px;
		}
		.author {
			color: $white;
			font-size: $h5-fontsize;
			font-family: $base-font-family;
			font-weight: $fontweight-regular;
			margin-bottom: 30px;
		}
	}
	.carousel-indicators {
		bottom: 40px;
		li {
			background-color: transparent;
	    border-radius: 8px;
	    bottom: 20px;
	    display: inline-block;
	    height: 10px;
	    width: 10px;
	    margin: 0 4px;
	    transition: all 0.5s ease 0s;
	    outline: 0;
	    bottom: 50px;
	    opacity: 1;
	    background-clip: unset;
	    border-top: none;
	    border-bottom: none;
	    border: 1px solid $white;
      &:hover {
      	border: 1px solid $white;
      	background-color: $white;
      	opacity: 1;
	      transition: all 0.5s ease 0s;
      }
	    &.active {
	    	border: 1px solid $white;
	    	height: 10px;
	      width: 10px;
	      background-color: $white;
	      opacity: 1;
	      transition: all 0.5s ease 0s;
	    }
		}
	}
	.carousel-control-prev {
		left: 12%;
		@media (min-width: 0) and (max-width: 1199.98px) {
			display: none;
		}
	}
	.carousel-control-next {
		right: 12%;
		@media (min-width: 0) and (max-width: 1199.98px) {
			display: none;
		}
	}
	.carousel-control-prev, .carousel-control-next  {
		opacity: 1;
		i {
			font-size: $h1-fontsize;
		}
	}
}