.resource-wrap {
	 .block-wrap {
	 	  float: left;
	    height: 215px;
	    margin-bottom: 80px;
	    padding-left: 10px;
	    position: relative;
	    @media (min-width: 0) and (max-width: 767.98px) {
				padding-left: 0;
			}
			@media (min-width: 768px) and (max-width: 991.98px) {
				padding-left: 20px;
				&:nth-child(odd) {
		    	padding-left: 0;
		    }
			}
	    &:nth-child(1) {
	    	padding-left: 0;
	    }
      .block-inner-wrap {
      	display: inline-block;
		    height: 215px;
		    margin-bottom: 10px;
		    position: relative; 
		    overflow: hidden;
		    width: 100%;
		    .content-wrap {
		    	img {
    		    width: 100%;
    				height: auto;
    				-webkit-transform: scale(1.3);
				    transform: scale(1.3);
				    transition: all 0.2s;
		    	}
		    	span {
		    		color: $white;
			    	font-family: $base-font-family;
			    	font-size: $h6-fontsize - 4px;
				    text-transform: uppercase;
				    font-weight: $fontweight-regular;
				    padding: 4px 6px;
				    position: absolute;
				    left: 0;
				    top: 0;
				    z-index: 1;
		    	}
		    	.overlay-block {
		    		background-color: rgba(0,0,0,0.65);
				    bottom: 0;
				    height: 110px;
				    padding: 15px;
				    color: $white;
				    position: absolute;
				    width: 100%;
				    h4 {
		    	    font-size: $p-fontsize + 2px;
					    font-weight: $fontweight-regular;
					    margin: 0;
					    line-height: 1.3;
				    }
		    	}
		    }
		    &:hover {
	      	img {
	      		transform: scale(1.2);
	    			transition: all 0.2s;
	      	}
	      }
      }
      &.sm-div {
				width: calc(50%/2);
				@media (min-width: 0) and (max-width: 767.98px) {
					width: 100%;
				}
				@media (min-width: 768px) and (max-width: 991.98px) {
					width: calc(100%/2);
				}
      }
      &.lg-div {
      	width: 50%;
      	@media (min-width: 0) and (max-width: 767.98px) {
					width: 100%;
				}
      }
      &:nth-child(1) {
				span {
					background-color: $primary-color;
				}
      }
      &:nth-child(2) {
      	span {
					background-color: $primary-utility-one;
				}
      }
      &:nth-child(3) {
      	span {
					background-color: $primary-utility-two;
				}
      }
      .cta-btn {
      	transition: all 0.2s;
		    color: $tertiary-color;
		    font-size: $h5-fontsize - 2px;
		    font-weight: $fontweight-regular;
		    float: right;
		    text-decoration: none;
		    i {
		    	margin-left: 5px;
			    font-weight: $fontweight-regular;
			    color: $primary-color;
			    font-size: $h5-fontsize + 4px;
			    vertical-align: bottom;
		    }
		    &:hover {
		    	color: $primary-color;
			    transition: all 0.2s;
			    font-weight: $fontweight-regular;
		    }
      }
	 }
}