main {
    display: flex;
    align-items: center;
    transform: translateX(-50px);
    transition: transform .3s ease-in-out;
}

.front {
    position: relative;
    transform: translateX(50%);
    z-index: 2;
    transition: transform .3s ease-in-out;
}

.bars {
    background-color: #130F40;
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 20px;
    width: 20px;
    height: 2px;
}

.bars::after {
    content: '';
    background-color: #130F40;
    width: 20px;
    height: 2px;
    position: absolute;
    top: 5px;
}

.bars::before {
    content: '';
    background-color: #130F40;
    width: 20px;
    height: 2px;
    position: absolute;
    top: -5px;
}

.pro {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #130F40;
    border-radius: 30px;
    color: #FFF;
    font-size: 12px;
    padding: 2px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

figure {
    z-index: 1;
}

figure > img {
    border-radius: 5px;
}

.arrow-box {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -70%);
    background-color: #FFF;
    border-radius: 50%;
    box-shadow: 0 2px 10px #EA2027;
    color: #EA2027;
    cursor: pointer;
    height: 36px;
    width: 36px;
    z-index: 10;
}

.arrow-box > i {
    position: absolute;
    bottom: 0;
    left: -1px;
    top: -2px;
    right: 0;
    font-size: 40px;
    transition: transform .5s ease-in-out;
}

.back {
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 390px;
    width: 300px;
    padding: 10px;
    transform: translateX(-50%);
    z-index: 1;
    transition: transform .3s ease-in-out;
}

.back > div {
    line-height: 1;
    margin-top: 60px;
    text-align: center;
}

.back > div:nth-child(1) {
    margin-top: 0;
}

.back h1 {
    font-size: 2rem;
}

.back h3 {
    color: #363636;
    font-size: 15px;
}

.social-stats {
    display: flex;
    justify-content: center;
}

.social-stats > div:nth-child(1) {
    margin-left: 0;
}

.social-stats > div {
    margin-left: 20px;
}

.social-stats h3 {
  text-transform: capitalize;
}

.btn {
    background-color: #130F40;
    border-radius: 30px;
    color: #FFF;
    font-size: 14px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow .3s ease-in-out;
}

.btn:hover {
  box-shadow: 0 3px 10px rgba(0,0,0,.5);
}

.btnOnClick {
    transform: rotate(-540deg) translate(-1px, -1px);
}

.onClick {
    transform: translateX(0);
}