.faq-expandall {
  text-align: right;
  ul {
    margin: 0 0 30px;
    padding: 0;
    li {
      color: $primary-utility-one;
      font-size: $h6-fontsize;
      font-family: $base-font-family;
      font-weight: $fontweight-bold;
      cursor: pointer;
      display: inline-block;
      list-style: none;
      margin: 0;
      padding: 0 10px;
    }
  }
}
.faq-maincontent {
  .faq-list {
    margin: 0 0 50px;
    padding: 0;
    li {
      border-top: 1px solid $gray-two;
      margin: 0;
      padding: 0;
      list-style: none;
      .faq-wrapper {
        .faq-title {
          background: url('../images/faq-down-arrow.png') no-repeat 98% center;
          color: $secondry-color;
          font-size: $h5-fontsize + 2;
          font-family: $base-font-family;
          font-weight: $fontweight-bold;
          padding: 25px 0;
          cursor: pointer;
          transition: all 0.3s;
          &.active {
            color: $primary-utility-one;
            transition: all 0.3s;
            background: url('../images/faq-active.png') no-repeat 98% center;
          }
        }
        .faq-content {
          display: none;
          p {
            color: $secondry-color;
            font-size: $h5-fontsize;
            font-family: $base-font-family;
            font-weight: $fontweight-regular;
            margin: 0 0 25px;
            line-height: 1.6;
          }
        }
      }
      &:first-child {
        .faq-wrapper {
          .faq-content {
            display: block;
          }
        }
      }
    }
  }
}