@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i);
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,400italic);
#toast-container {
  font-family: "Lato", Arial, sans-serif;
}
 iframe {
       /* border: 1px solid #ccc;
        margin-bottom: 30px;*/
    }
.border-radius,
body .tutorial,
body .code {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

body {
  background-color: #dee;
  /*background: linear-gradient(to bottom,#f15b2a,#e80a89);*/
  /*background: linear-gradient(134deg, #00B2E2 0%, #2DBE60 100%);*/
  background-position: fixed;
  margin: 60px 0;
}

.title {
  text-align: center;
  margin-bottom: 30px;
}

body .tutorial {
  background-color: #fff;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 7.44px 0.56px rgba(0,0,0,0.1);
  padding: 40px;
}

body .tutorial h1 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 32px;
}

body .tutorial h4 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 28px;
}

body .tutorial h3 {
  font-family: "Lato", Arial, sans-serif;
  font-size: 24px;
}

body .tutorial label {
  font-family: "Lato", Arial, sans-serif;
  font-style: italic;
  display: block;
  margin: 0 0 10px 0;
  font-size: 16px;
}

body .tutorial p {
  font-family: "Lato", Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  display: block;
  text-align: justify;
}
.cp_embed_wrapper {
  margin-top: 20px;
}
ul li {
  font-family: "Lato", Arial, sans-serif;
  margin-bottom: 10px;
}

body .tutorial p.f-t::first-letter {
  font-family: "Lato", Arial, sans-serif;
  font-size: 54px;
  color: #67caca;
  line-height: 50px;
  margin: 0 0 30px;
}

body .code {
  padding: 10px 0 30px 40px;
  font-size: 16px;
  line-height: 28px;
}
p.ft {
    margin-bottom: 20px;
}
.rule {
  margin: 0;
  font-size: 0;
}

.label-sm {
  background-color: #ce2b2b;
  color: #fff;
  padding: 3px 10px;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 50px;
  line-height: 1;
}

.nav-list {
  font-family: "Lato", Arial, sans-serif;
  position: fixed;
  width: auto;
  margin-left: 2%;
  background-color: #67caca;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  transition: all .4s ease 0s;
}

.nav-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 30px;
  border-left: 5px solid transparent;
  transition: all .4s ease 0s;
  cursor: pointer;
}

.nav-link:hover, .nav-link.active {
  background-color: #FFF;
  color: #000;
  transition: all .4s ease 0s;
}
.tabs {
  margin:0 0 0 1px;
  padding: 0px;
  list-style: none;
}
.tabs li {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  margin: 0 -2px -4px 3px;
  line-height: 140%;
  color: #FFF;
  font-size: 14px;
  background-color: #42433e;
  transition: all .4s ease 0s;
   -webkit-transform: perspective(230px) rotateX(30deg);
   -moz-transform: perspective(230px) rotateX(30deg);
   cursor: pointer;
   border-radius: 4px;
   border-radius-bottom: 0;
}
.tabs li a {
  color: #fff;
  text-decoration: none;
   padding: 16px 40px;
   display: inline-block;
}
.tabs li a:hover {
  background: #23241f;
  transition: all .2s ease 0s;
  z-index: 1;
}
.tabs li a.active {
  background: #23241f;
  color: #FFF;
  transition: all .2s ease 0s;
  z-index: 1;
}
.tab-content {
  display: none;
  background: #23241f;
  line-height: 1.4;
  transition: all .2s ease 0s;
}
.tab-content.active {
  display: block;
  transition: all .2s ease 0s;
}
#embed-nav.embed-nav {
  display: none !important;
}
#rerun-button { display: none !important; }

.search {
    margin: 0 10px 40px
}

.search .custom-dropdown {
    box-shadow: 0px 0px 7.44px 0.56px rgba(0,0,0,0.1);
    padding: 10px 23px 8px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    background: #fff url(../../index/images/arrow-drop-down.svg) no-repeat 94%/20px auto;
    height: 46px
}

@media (-ms-high-contrast:none) {
    .search .custom-dropdown {
        background-size: 50px auto;
        height: 50px
    }
}

.search .custom-dropdown .custom-dd-selected {
    color: #333;
    font-size: 18px;
    font-weight: 700;
    font-family: "Lato", Arial, sans-serif
}

.search .custom-dropdown .custom-dd-list {
    width: 100%;
    background: #fff;
    display: none;
    border: 1px solid #eaeaea;
    left: 0;
    position: absolute;
    top: 46px;
    z-index: 99999
}

.search .custom-dropdown .custom-dd-list ul {
    margin: 0;
    padding: 0;
    max-height: 287px;
    overflow-y: auto;
}

.search .custom-dropdown .custom-dd-list ul li {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    list-style-type: none;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    padding: 10px 20px;
    display: block
}

.search .custom-dropdown .custom-dd-list ul li:hover {
    background-color: #005096;
    color: #fff
}

.search .autocomplete_wrapper {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    position: relative;
    width: calc(100% - 338px)
}

.search .autocomplete_wrapper #text_search input {
    box-shadow: 0px 0px 7.44px 0.56px rgba(0,0,0,0.1);
    padding: 10px 23px 8px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    font-weight: 700;
    font-family: "Lato", Arial, sans-serif;
    height: 46px;
    border-radius: 0;
    border: 0;
}

.search .autocomplete_wrapper .autocomplete {
    width: 100%;
    background: #fff;
    display: none;
    border: 1px solid #eaeaea;
    left: 0;
    position: absolute;
    top: 46px;
    z-index: 999
}

.search .autocomplete_wrapper .autocomplete ul {
    margin: 0;
    padding: 0;
    max-height: 287px;
    overflow-y: auto;
}

.search .autocomplete_wrapper .autocomplete ul.hideme {
    max-height: 0
}

.search .autocomplete_wrapper .autocomplete ul li {
    border-bottom: 1px solid #eaeaea;
    margin: 0;
    list-style-type: none;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    padding: 10px 20px;
    display: block;
    cursor: pointer
}

.search .autocomplete_wrapper .autocomplete ul li:hover {
    background-color: #005096;
    color: #fff
}

.search .autocomplete_wrapper .autocomplete ul li.focused {
    font-weight: 700
}

.search .autocomplete_wrapper .autocomplete .no_match {
    font-size: 18px;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    color: #333;
    padding: 10px 20px;
    display: block
}

.search .tags_wrapper {
    padding-right: 70px
}

.search .tags_wrapper span {
    margin-bottom: 10px
}

.search .tags_wrapper .badge {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato", Arial, sans-serif;
    padding: 5px 10px 7px;
    line-height: 1;
    margin-right: 10px
}

.search .tags_wrapper_outer .tags_wrapper {
    display: inline-block;
    vertical-align: top;
    width: 93%
}

.search .tags_wrapper_outer .clearall {
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    border: 2px solid #da423e;
    padding: 0 10px;
    border-radius: 10rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin-bottom: 10px
}

.search .tags_wrapper_outer .clearall:hover {
    color: #fff;
    background-color: #da423e;
}
.module-list .title {
  text-align: left;
}
.module-list .title h1 {
  color:  #005096;
  font-size: 30px;
  font-weight: 700;
  font-family: Lato,sans-serif;
  margin-bottom: 0;
}
.module-list .title h1 span {
  width: 50px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.module-list .title h1 span img {
  width: 100%;
  height: auto;
}
#result {
  display: block;
overflow-x: auto;
padding: 0.5em;
background:#23241f;
-webkit-text-size-adjust: none;
}
#noresult {
  display: none;
  background-color:#fff;
margin: 0 auto;
width: 100%;
box-shadow: 0px 0px 7.44px 0.56px
rgba(0,0,0,0.1);
padding: 40px;
}
