* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    padding: 100px;
}

nav > ul {

}

nav > ul > li {
    display: inline-block;
    margin-right: 3em;
}

nav li {
    position: relative;
    padding: .5em;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: pink;
}

nav ul ul ul {
    top: 0;
    left: 100%;
    background: yellow;
}

nav li:hover > ul,
nav ul[aria-expanded="true"]
{
    display: block;
}
