#Footer {
	background-color: $primary-color;
	padding: 50px 0;
	.footer-top-content {
		display: flex;
		border-bottom: 1px solid $white;
		margin-bottom: 30px;
		padding-bottom: 30px;
		@media (min-width: 0) and (max-width: 767.98px){
			flex-direction: column;
		}
		.each-top-content{
			flex: 1 calc(100%/3);
			max-width: calc(100%/3);
			@media (min-width: 0) and (max-width: 767.98px){
				flex: 1 100%;
				max-width: 100%;
			}
		}
		ul {
			padding: 0;
			margin: 0;
			li {
				padding: 0;
				margin: 0 0 16px 0;
				list-style-type: none;  
				color: $white;
				font-size: $h5-fontsize + 2;
		    font-family: $base-font-family;
		    font-weight: $fontweight-bold;
				list-style-type: none;
				line-height: 1;
				a {
					color: $white;
					&:hover {
						opacity: 0.9;
						text-decoration: none;
					}
				}
			}
		}
		.address-section {
			margin-bottom: 20px;
			h3 {
				color: $white;
				font-size: $h5-fontsize + 2;
		    font-family: $base-font-family;
		    font-weight: $fontweight-bold;
		    line-height: 1;
		    margin: 0 0 10px 0;
		    text-align: left;
			}
			p {
				color: $white;
				font-size: $h6-fontsize;
		    font-family: $base-font-family;
		    font-weight: $fontweight-regular;
		    line-height: 1.4;
		    margin: 0;
			}
		}
		.contact-section {
			margin-bottom: 20px;
			color: $white;
			font-size: $h5-fontsize;
	    font-family: $base-font-family;
	    font-weight: $fontweight-bold;
	    line-height: 1;
	    @media (min-width: 992px) and (max-width: 1199.98px) {
	    	line-height: 1.4;
	    }
		}
		p {
			color: $white;
			font-size: $h5-fontsize;
	    font-family: $base-font-family;
	    font-weight: $fontweight-bold;
	    line-height: 1;
		}
		.social-link {
			li {
				display: inline-block;
				margin: 0;
				padding: 0 10px 0 0;
				i {
					color: $white;
					font-size: $h5-fontsize + 2;
					transform: scale(1);
					transition: 0.3s all;
				}
				&:last-child {
					padding: 0;
				}
				a {
					&:hover {
						i {
							transform: scale(1.4);
							transition: 0.3s all;
						}
					}
				}
			}
		}
	}
	.footer-bottom-content {
		text-align: center;
		p {
			color: $white;
			font-size: $h5-fontsize;
	    font-family: $base-font-family;
	    font-weight: $fontweight-bold;
	    line-height: 1;
	    a {
	    	color: $white;
	    	&:hover {
	    		text-decoration: none;
	    		opacity: 0.9;
	    	}
	    }
		}
	}
}