body.menu-one, body.menu-two, body.menu-three, body.menu-four {
	margin-top: 90px;
}
#Header {
	z-index: 99;
}
.divider {
	margin: 60px 0 0 0;
}
body.menu-one.slider-one div.divider:nth-of-type(2), body.menu-one.slider-two div.divider:nth-of-type(2), body.slider-three.menu-one div.divider:nth-of-type(2) {
	display: none;
}
body.menu-two.slider-one div.divider:nth-of-type(2), 
body.menu-two.slider-two div.divider:nth-of-type(2), 
body.menu-two.slider-three div.divider:nth-of-type(2) {
	display: none;
}
body.menu-three.slider-one div.divider:nth-of-type(2), 
body.menu-three.slider-two div.divider:nth-of-type(2), 
body.menu-three.slider-three div.divider:nth-of-type(2) {
	display: none;
}
body.menu-four div.divider:nth-of-type(3) {
	display: none;
}