* {
	padding: 0;
	margin: 0;
}

.container {
	@media (max-width: 576px) {
		max-width: 540px;
		margin: 0 auto;
	}

	@media (min-width: 768px) {
		max-width: 720px;
		margin: 0 auto;
	}

	@media (min-width: 992px) {
		max-width: 960px;
		margin: 0 auto;
	}

	@media (min-width: 1200px) {
		max-width: 1140px;
		margin: 0 auto;
	}
}

.resource-textthumb-wrap {
	display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  @media (min-width: 0) and (max-width: 767.98px) {
	flex-direction: column;
  }
  .each-section {
    flex: 1 calc(50% - 20px);
	max-width: calc(50% - 20px);
    @media (min-width: 0) and (max-width: 767.98px) {
			flex: 1 100%;
			max-width: 100%;
			margin-bottom: 30px;
    }
    a {
    	display: inline-block;
    	text-decoration: none;
    }
    .image-wrap {
    	width: 150px;
	    margin-right: 20px;
	    @media (min-width: 0) and (max-width: 1199.98px) {
	    	margin-right: 0;
	    	margin-bottom: 20px;
	    }
	    a {
	    	&:hover {
	    		box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
	    	}
	    }
    	img {
    		width: 100%;
    		height: auto;
    	}
    }
    .content {
    	width: 335px;
    	@media (min-width: 0) and (max-width: 1199.98px) {
    		width: 100%;
    	}
    	a {
    		h4 {
    			color: $secondry-color;
		    	font-size: $p-fontsize + 6;
					font-family: $base-font-family;
					font-weight: $fontweight-regular;
					line-height: 1.3;
					margin: 0 0 10px;
    		}
    	}
    	p {
    		color: $secondry-color;
	    	font-size: $h5-fontsize;
				font-family: $base-font-family;
				font-weight: $fontweight-regular;
				line-height: 1.4;
				margin: 0 0 20px;
    	}
    	.cta-btn {
    		color: $tertiary-color;
		    font-size: $h5-fontsize;
				font-family: $base-font-family;
				font-weight: $fontweight-bold;
		    padding: 5px 0;
		    -webkit-transition: all 0.2s linear 0s;
		    -moz-transition: all 0.2s linear 0s;
		    -o-transition: all 0.2s linear 0s;
		    transition: all 0.2s linear 0s;
		    i {
		    	color: $primary-utility-two;
		    	font-size: $p-fontsize + 4;
    	    padding-left: 7px;
          vertical-align: middle;
		    }
		    &:hover {
		    	color: $primary-utility-two;
		    	margin: 0 0 0 5px;
			    -webkit-transition: all 0.2s linear 0s;
			    -moz-transition: all 0.2s linear 0s;
			    -o-transition: all 0.2s linear 0s;
			    transition: all 0.2s linear 0s;
		    }
    	}
    }
  }
}