.container{
	@media (max-width: 576px) {
		max-width: 540px;
		margin: 0 auto;
	}
	@media (min-width: 768px) {
		max-width: 720px;
		margin: 0 auto;
	}
	@media (min-width: 992px) {
		max-width: 960px;
		margin: 0 auto;
	}
	@media (min-width: 1200px){
		max-width: 1140px;
		margin: 0 auto;
	}
}
 
.headquarter {
	display: flex;
	flex-wrap: wrap;
	.each-location {
	max-width: 25%;
	flex: 1 0 calc(25% - 20px);
	margin: 0 20px 0 0;
	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		max-width: 23%;
		-ms-flex: 1 0 calc(23% - 20px);
		}
	@media (min-width: 0) and (max-width: 767.98px) {
		max-width: 100%;
		flex: 1 0 100%;;
		margin: 0 0 20px 0;
	}
	@media (min-width: 768px) and (max-width: 991.98px) {
		max-width: 50%;
		flex: 1 0 calc(50% - 20px);
		margin: 0 20px  20px 0;
		&:nth-child(even) {
			margin-right: 0;
		}
	}
	img {
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.location {
		margin-bottom: 20px;
		h3 {
			color: $primary-color;
		font-size: $h5-fontsize + 6;
		font-family: $base-font-family;
		font-weight: $fontweight-regular;
		display: inline-block;
		margin-bottom: 0;
		width: 89%;
		}
		a {
			display: inline-block;
			i {
				color: $orange;
				font-size: $mobile-h1-fontsize + 2;
			}
		}
	}
	p {
		color: $secondry-color;
	font-size: $h6-fontsize;
	font-family: $base-font-family;
	font-weight: $fontweight-regular;
	margin-bottom: 20px;
	}
	.contactno {
		p {
			margin-bottom: 10px;
			a {
				color: $secondry-color;
				text-decoration: none;
				i {
					color: $secondry-color;
					padding-right: 10px;
				}
			}
		}
	}
	}
}




