.event-wrapper {
	padding-top: 30px;
	margin-right: -15px;
	margin-left: -15px;
	@media (min-width: 0) and (max-width: 767.98px) {
		margin-right: 0;
		margin-left: 0;
	}
	.each-event {
		display: inline-block;
		float: left;
		width: calc(100%/3 - 30px);
		margin: 0 15px;
		position: relative;
		height: 300px;
    overflow: hidden;
    @media (min-width: 0) and (max-width: 767.98px) {
    	width: 100%;
    	margin-right: 0;
    	margin-left: 0;
    	margin-bottom: 30px;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
    	width: calc(100%/2 - 30px);
    	margin-bottom: 30px; 
    }
		img {
			width: auto;
			height: auto;
	    -webkit-transform: scale(1);
	    transform: scale(1);
	    -webkit-transition: all 0.2s;
	    transition: all 0.2s;
		}
		.introcontent {
      width: 100%;
	    position: absolute;
	    bottom: 0;
	    background-color: rgba(0,0,0,0.50);
	    padding: 16px;
			h2 {
				color: $white;
				font-size: $h5-fontsize + 2;
				font-family: $base-font-family;
				font-weight: $fontweight-regular;
				margin: 0 0 16px;
			}
			ul {
		    margin: 0;
		    padding: 0;
		    li {
		    	color: $white;
					font-size: $h6-fontsize;
					font-family: $base-font-family;
					font-weight: $fontweight-regular;
					display: inline-block;
		    	border-right: 1px solid $white;
		    	margin-right: 10px;
    			padding-right: 10px;
    			line-height: 1;
		    	&:last-child {
		    		border-right: 0;
		    	}
		    	i {
		    		font-size: $h5-fontsize + 4;
		    		vertical-align: middle;
		    		padding-left: 5px;
		    		transition: all 0.2s linear 0s;
		    	}
		    }
			}
		}
		&:hover {
			img {
				-webkit-transform: scale(1.2);
		    transform: scale(1.2);
		    -webkit-transition: all 0.2s;
		    transition: all 0.2s;
			}
			.introcontent {
				ul {
					li {
						i {
							margin-left: 3px;
    					transition: all 0.2s linear 0s;
						}
					}
				}
			}
		}
	}
}