.blog-post {
  border-radius: 0.5rem;
  box-shadow: 0 1px 60px rgba(0, 0, 0, 0.055);
  padding: 4.06rem 4.375rem 3.125rem 4.75rem;
  background-color: $white;
  margin-bottom: 40px;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
  .blog-header {
    display: block;
    .blog-title {
      font-size: $h4-fontsize;
      line-height: 1.4;
      font-weight: $fontweight-thin;
      a {
        color: $black;
        text-decoration: none;
      }
    }
    .blog-meta {
      margin: 20px 0;
      font-size: $h6-fontsize;
      letter-spacing: .02rem;
      line-height: 1.2;
    }
  }
}