.news-wrap {
	margin-top: 30px;
	.each-news {
		h4 {
			color: $secondry-color;
			font-size: $h5-fontsize + 4;
			font-family: $base-font-family;
			font-weight: $fontweight-bold;
	    margin-bottom: 20px;
		}
		ul {
			margin: 0 0 10px 0;
			padding: 0;
			li {
				padding: 0;
				margin: 0;
				list-style-type: none;
				display: inline-block;
				color: $tertiary-color;
				font-size: $h6-fontsize;
				font-family: $base-font-family;
				font-weight: $fontweight-thin;
			}
		}
	}
}